body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

.calculator {
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	width: 255px;
	margin: 0 auto;
}

input[type="text"] {

	width: 90%;
    align-items: center;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 1.5em;
	text-align: right;
}

button {
	
	padding: 10px;
	margin: 5px;
	font-size: 1.2em;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	border: none;
	color: white;
	cursor: pointer;
}

.button-backspace{
    background-color: #555555;
    width:150px;
}

.button-number {
	background-color: #4CAF50;
}

.button-operator {
	background-color: #008CBA;
}

.button-equals {
	background-color: #f44336;
}

.button-clear {
	background-color: #555555;
    width:80px;
}

 button:hover {
	background-color: #555555;
}

button:active {
	background-color: #333333;
}
